
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') Petals.Cloud
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/events', title="event listing") Past Events
          ul.nav.pull-right
            li
                form.navbar-search.pull-left(action="/events/search", method="post")
                    input#search-query.search-query(type="text", name="query", placeholder="Search")

