extends ../layouts/default

block content
  .link
    a.title(href='/events/'+event._id) #{event._id}
    blockquote
      p
        =event

    if event.group
      a.title(href='/events/group/'+event.group) Show all events in group #{event.group}

    hr