extends ../layouts/default

block content

  if group
    #socketout

  if !events
    .alert No events
  else
      if events.length >= 1
        each event in events
          .link
            a.title(href='/events/'+event._id) #{event._id}
            blockquote
              p
                =event
              if !group && event.group
                a.title(href='/events/group/'+event.group) Show all events in group #{event.group}
              hr
        if (pages > 1)
          .pagination
            ul
              != createPagination(pages, page)
      else
        .link
          blockquote
            p
              span No events

if group
    block script
        script
            var socket = io.connect();
            socket.on('event', function(data) {
              if (data.group == '#{group}') {
                var out = '<div class=\"link\"><span class=\"label label-info\">New</span>&nbsp;<a class=\"title\" href=\"/events/' + data._id + '\">' + data._id + '</a><blockquote><p>'+ JSON.stringify(data) +'</p></blockquote></div><hr/>';
                $('#socketout').prepend(out);
              }
            });